<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head") %> 
<body>
  <h1>New Message Page</h1>
  <form class="message-form" method="POST" action="/new">
    <div class="input-group">
      <label for="name">Name</label>
      <input type="text" id="name" name="name"/>
    </div>
    <div class="input-group">
      <label for="message">Message</label>
      <textarea type="text" id="message" name="message" rows="10" cols="50"></textarea>
    </div>
    <button type="submit">Send</button>
  </form>
</body>
</html>